body {
    background-image: url(../images/noise-2.png), -webkit-linear-gradient(top, #d2d2d2, #d2d2d2);
    background-image: url(../images/noise-2.png), -moz-linear-gradient(top, #d2d2d2, #d2d2d2);
    background-image: url(../images/noise-2.png), -ms-linear-gradient(top, #d2d2d2, #d2d2d2);
    background-image: url(../images/noise-2.png), linear-gradient(top, #d2d2d2, #d2d2d2)
}

.grid-980 {
    background: #ffffff;
}

@font-face {
    font-family: "UTMCafetaRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/utm_cafeta-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/utm_cafeta-webfont.woff") format("woff"), url("../fonts/utm_cafeta-webfont.ttf") format("truetype"), url("../fonts/utm_cafeta-webfont.svg#UTMCafetaRegular") format("svg");
}
.fontcafe {
    font-family: "UTMCafetaRegular";
}

a {
    color: #17658c;
    outline: 0 none;
}

/** common css **/
/** header **/
/** nav main menu **/
/** top manga header **/
/** top manga header **/
/** manga update **/
/** footer **/
/** detail manga **/

/** common css */
.clear {
    clear: both;
    line-height: 0px;
    overflow: hidden;
    display: block;
    height: 0px;
    max-height: 0px;
}

.like-at-content {
    display: inline-block !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    left: auto !important;
    margin: 0 !important;
    min-width: 0;
    width: 140px !important;
    height: 20px;
    overflow: hidden !important;
}

.like-at-rating {
    display: inline-block !important;
    position: absolute !important;
    top: 8px !important;
    right: 10px !important;
    margin: 0 !important;
    min-width: 0;
    width: 50px !important;
    height: 62px;
    overflow: hidden !important;
}

.box-rating{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}
.box-rating #star{
    display: inline-block;
}
.box-rating #hint{
    color: #ddd;
    text-transform: uppercase;
}
.box-rating p{
    font-size: 20px;
    color: #333;
}
.box-rating .num-rating{
    font-size: 12px;
    color: #ddd;
}

.box-rating #star {
    display: inline-block;
}

.block-manga-content {
    margin-top: 10px !important;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
}

.breadcrumb {
    border-radius: 0px !important;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px !important;
    padding: 5px 10px !important;
    text-transform: uppercase !important;
}

.rate-vote {
    background: url(http://www.phimmoi.net/styles/vtlai/movie/img/image.png ) no-repeat;
    height: 20px;
    width: 90px;
    display: block;
}

.rate-vote-10 {
    background-position: -4px -564px;
}

.rate-vote-9{
    background-position: -4px -584px;
}
.rate-vote-8{
    background-position: -4px -604px;
}
.rate-vote-7{
    background-position: -4px -624px;
}
.rate-vote-6{
    background-position: -4px -644px;
}
.rate-vote-5{
    background-position: -4px -664px;
}
.rate-vote-4{
    background-position: -4px -684px;
}
.rate-vote-3{
    background-position: -4px -704px;
}
.rate-vote-2{
    background-position: -4px -724px;
}
.rate-vote-1{
    background-position: -4px -744px;
}
.rate-vote-0{
    background-position: -4px -764px;
}
/** end common css */

/** header */
.header {
    background-image: url(../images/noise-2.png), -webkit-linear-gradient(top, #517fa4, #306088);
    background-image: url(../images/noise-2.png), -moz-linear-gradient(top,#517fa4,#306088);
    background-image: url(../images/noise-2.png), -ms-linear-gradient(top,#517fa4,#306088);
    background-image: url(../images/noise-2.png), linear-gradient(top,#517fa4,#306088)
    height: 75px;
    width: 100%;
    padding: 0 25px;
}

.header-logo {
    display: inline-block;
    margin: 5px 0px;
    float: left;
}

.header-logo .logo {
    background: url(http://www.phimmoi.net/styles/vtlai/movie/img/image.png) 0px -320px;
    width: 260px;
    height: 55px;
    display: block;
}

.header-logo span {
    display: none;
}

.widget-search {
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.widget-search input[type=text] {
    border: 1px none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset, 1px 1px 0 rgba(255, 255, 255, 0.15);
    color: #9f9f9f;
    display: inline-block;
    outline: medium none;
    padding: 8px 40px 8px 15px;
    text-decoration: none;
    width: 325px;
    float: left;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
}

.widget-search input[type=submit] {
    background: url(../images/search2.png) no-repeat 5px center;
    border: 0 none;
    display: inline-block;
    height: 32px;
    margin-left: -36px;
    top: 10px;
    float: left;
    width: 32px;
}

.widget-user-profile {
    display: inline-block;
    float: right;
    margin-top: 15px;
    color: #ddd;
}

/** end header */

/** nav main menu */
nav {
    background: #323031 url(http://www.phimmoi.net/styles/vtlai/movie/img/nav-bg.jpg) repeat-x;
    margin-bottom: 8px;
}

#mega-menu-1 {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 46px;
    position: relative;
    text-transform: uppercase;
    float: left;
    text-shadow: 1px 1px 1px #1a1a1a;
    font: 20px/22px 'UTMCafetaRegular';
}

#mega-menu-1 li {
    cursor: default;
}

#mega-menu-1 li {
    float: left;
    margin: 0;
    padding: 0;
}

#mega-menu-1 li a {
    float: left;
    display: block;
    color: #fff;
    padding: 11px 15px 7px;
    margin-top: 4px;
    text-decoration: none;
}

#mega-menu-1 li .sub-container {
    max-width: 828px !important;
}

#mega-menu-1 li .sub-container {
    position: absolute;
    max-width: 100%;
}

#mega-menu-1 li .sub {
    padding: 5px !important;
    background: #292929;
    border: 1px solid #79777A;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
}

#mega-menu-1 li .sub li {
    width: 160px !important;
    list-style: none;
    float: none;
    display: inline-block;
}

#mega-menu-1 li .sub a {
    background: none;
    color: #fff;
    padding: 7px 10px;
    display: block;
    float: none;
    font: 13px/17px Arial,Helvetica,sans-serif;
    text-shadow: 1px 1px 1px #1a1a1a;
    text-transform: none;
}
/** end main menu */

/** top manga header */
.top-manga {
    margin: 5px 0px !important;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 0 5px #dfdfdf;
    -moz-box-shadow: 0 0 5px #dfdfdf;
    box-shadow: 0 0 5px #dfdfdf;
    -ms-box-shadow: 0 0 5px #dfdfdf;
    -o-box-shadow: 0 0 5px #dfdfdf;
}

.top-manga .col-lg-12 {
    padding: 0px !important;
}

.header-list-index {
    background: url(http://www.phimmoi.net/styles/vtlai/movie/img/divider_line.gif) bottom repeat-x;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.header-list-index .title-list-index {
    /*color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;*/
    display: inline-block;
    font: 23px/25px 'UTMCafetaRegular';
    text-transform: uppercase;
}

.top-manga-list {
    padding: 15px;
}

.block-wrapper {
    position: relative;
    padding: 2px;
    background: #ffffff;
    border-bottom: 1px solid #868489;
    color: #ddd;
    height: auto;
    display: block;
}

.top-manga-list.block-wrapper > .list_carousel {
    max-height: 300px;
    overflow: hidden;
}

.list_carousel {
    width: 100%;
    position: relative;
}

.caroufredsel_wrapper {
    width: 100% !important;
}

.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#manga-carousel-top li {
    margin-right: 16px;
}

.list_carousel li {
    color: #999;
    display: block;
    float: left;
    margin-right: 22px;
}

.manga-carousel-top-item {
    width: 229px;
    height: 300px;
    position: relative;
}

.manga-carousel-top-item img {
    width: 100%;
    border: 2px solid #000;
}

.manga-carousel-top-item-meta {
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.8);
    padding: 5px;
    width: 100%;
}

.manga-name-1 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #FF8040;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 5px 0px;
}

.manga-name-2 {
    color: #fff;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    margin: 5px 0px;
}

.ribbon {
    position: absolute;
    color: #fff;
    background: #D9534F;
    font-size: 11px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 0 -1px #d0284b, 0 1px #f96080;
    left: 2px;
    top: 5px;
}

.list_carousel .prev,
.list_carousel .next {
    top: 100px;
    position: absolute;
    padding: 30px 10px;
    background: rgba(0,0,0,0.6);
}

.list_carousel .prev .arrow-icon.left {
     background: url(http://www.phimmoi.net/styles/vtlai/movie/img/image.png) no-repeat -2px -535px;
     height: 24px;
     width: 16px;
     display: block;
 }

.list_carousel .next .arrow-icon.right {
    background: url(http://www.phimmoi.net/styles/vtlai/movie/img/image.png) no-repeat -23px -535px;
    height: 24px;
    width: 16px;
    display: block;
}

.list_carousel .next {
    right: 0px;
}

.list_carousel .prev:hover,
.list_carousel .next:hover {
    background: rgba(0,0,0,0.9);
    outline: none;
    cursor: pointer;
}
/** end top manga header */

/** top manga slide */
.top-manga-week, .top-manga-week {
    margin-bottom: 20px;
}

.right-box .right-box-content .list-top-manga
.list-top-manga-item-info .list-top-manga-item-vn,
.right-box .right-box-content .list-top-manga
.list-top-manga-item-info .list-top-manga-item-en,
.right-box .right-box-content .list-top-manga
.list-top-manga-item-info .list-top-manga-item-view {
    display: block;
}

.right-box {
    margin: 10px 0px;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 0 5px #dfdfdf;
    -moz-box-shadow: 0 0 5px #dfdfdf;
    box-shadow: 0 0 5px #dfdfdf;
    -ms-box-shadow: 0 0 5px #dfdfdf;
    -o-box-shadow: 0 0 5px #dfdfdf;
}

.right-box .right-box-header {
    font: 23px/25px 'UTMCafetaRegular';
    /*color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;*/
    text-transform: uppercase;
    height: 32px;
    border-bottom: #d5d5d5 solid 1px;
    margin: 5px !important;
}

.right-box .right-box-header span {
    padding-left: 15px;
    padding-top: 3px;
    display: block;
}

.right-box .right-box-content {
    float: left;
    overflow: hidden;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    color: #fff;
    font-size: 11px;
    width: 300px;
    height: auto;
}

.right-box .right-box-content .list-top-manga {
    list-style-type: none;
    margin: 0px;
    padding-left: 10px;
    position: relative;
    overflow-y: scroll;
}

.right-box .right-box-content .list-top-manga .list-top-manga-item {
    clear: both;
    padding: 9px 5px;
    margin-right: 10px;
    height: 135px;
    border-bottom: 1px solid #d5d5d5;
}

.right-box .right-box-content .list-top-manga .list-top-manga-item-thumb {
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95px;
    height: 115px;
}

.right-box .right-box-content .list-top-manga .list-top-manga-item-thumb {
    float: left;
    width: 95px;
}

.right-box .right-box-content .list-top-manga .list-top-manga-item-info {
    float: right;
    width: 155px;
}

.right-box .right-box-content .list-top-manga .list-top-manga-item-info .list-top-manga-item-vn {
    font-size: 12px;
    color: #17658c;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
}

.right-box .right-box-content .list-top-manga .list-top-manga-item-info .list-top-manga-item-en {
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
}
/** end top manga slide */

/** manga update */
.manga-list-index {
    margin-bottom: 20px;
    width: 645px;
}

.list-manga-content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.header-list-index .more-list-index {
    float: right;
    display: inline-block;
    padding: 15px 12px 0px 0px;
    color: #428bca;
    font-size: 14px;
    text-decoration: none;
    background: url("http://www.phimmoi.net/styles/vtlai/movie/img/viewmore.png") no-repeat right 21px;
}

.list_carousel {
    width: 100%;
    position: relative;
}

.manga-list-index .list-manga-content ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
}

.list-manga-content .manga {
    border-bottom: 1px dashed #555;
    padding: 6px 0px;
    font-size: 14px;
    list-style: none;
}

.list-manga-content .manga .manga-link {
    padding: 5px 0px;
    display: block;
    float: left;
}

.list-manga-content .manga .meta {
    padding-left: 10px;
}

.list-manga-content .manga .col-lg-5 {
    padding-left: 10px;
}

.list-manga-content .manga .name-vn {
    color: #333333;
    padding-left: 0px;
}

.list-manga-content .manga .name-en {
    color: #17658c;
    padding-left: 0px;
}

.list-manga-content .manga .col-lg-3 {
    padding-right: 5px;
}

.list-manga-content .manga .eps {
    float: right;
    color: #666;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
}

/** end manga update */

/** footer */
.footer {
    min-height: 100px;
    padding: 20px 25px 15px;
    border-top: 3px solid #dacb46;
    border-bottom: 1px solid #111;
    margin-top: 5px;
    background: #212a34;
}

.footer .footer-link {
    float: left;
    margin-right: 60px;
}

.footer-link-head {
    font: 24px/25px 'UTMCafetaRegular';
    color: #fff;
    display: block;
    padding-bottom: 5px;
}

.footer .footer-link a {
    color: #a9b5c3;
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 12px;
}
/** end footer */

/** detail manga */
.manga-info-box .manga-l-img {
    position: relative;
}

.manga-image {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.manga-info-box .manga-v-img img {
    width: 100%;
    border: 1px solid #d2d2d2;
}

.manga-info-box .btn-block {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding: 10px 22px;
    margin: 0px;
    list-style: none;
}

.manga-info-box .btn-block .item {
    display: inline-block;
    padding: 4px;
}

.manga-detail {
    padding-left: 15px !important;
}

.manga-detail .manga-title {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: initial;
}

.manga-detail .manga-title .title {
    text-transform: uppercase;
    font: 26px 'UTMCafetaRegular';
    color: #333;
    display: block;
}

.manga-detail .manga-dl .manga-dt {
    display: inline;
}

.manga-detail .manga-dl .manga-dd {
    display: inline;
    margin: 0px 10px -4px 5px;
}

.manga-detail .manga-dl .dd-chap-new a {
    color: red !important;
}

.block-manga-content .manga-detail-h2, .block-list-chapter .manga-detail-h3,
.block-tags .manga-detail-h3{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-top: 5px;
}

.block-list-chapter {
    float: left;
    overflow: hidden;
    position: relative;
    padding: 5px;
    height: auto;
    width: 100%;
}

.box-manga-content {
    border: 1px solid #d2d2d2;
}

.box-manga-content .list-chapter-box {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 477px;
    overflow-y: scroll;
}

.box-manga-content .list-chapter-box .list-chapter-item {
    clear: both;
    padding: 9px 5px;
    margin-right: 10px;
    margin-left: 5px;
    border-bottom: 1px dashed #d2d2d2;
}

.box-manga-content .list-chapter-box .list-chapter-item .left a {
    color: #17658c !important;
}

.box-manga-content .list-chapter-box .list-chapter-item .right {
    float: right;
    padding-right: 10px;
}

.block-tags .tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block-tags .tag-list .tag-item {
    display: inline-block;
    font-size: 13px;
}
.block-tags .tag-list .tag-item a{
    color: #333;
}
/** end detail manga */

/** chapter detail */
.bar-utility {
    overflow: hidden;
    position: relative;
}

.bar-utility  div {
    display: inline;
    text-align: center;
}

.select-filter {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.like-share {
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px    ;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.list-image-chapter {
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    margin: 0px;
    overflow: hidden;
    position: relative;
}
/** end chapter detail */
/** list manga by category */
.filter-div {
    padding: 5px;
}

.list-manga-content .list-manga {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-manga-content .list-manga .manga-item {
    margin: 10px 20px 10px 0px;
    width: 300px;
    float: left;
}

.list-manga-content .list-manga
.manga-item .list-manga-link{
    position: relative;
    padding: 2px;
    height: auto;
    display: block;
}

.manga-item .list-manga-item-thumb {
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 140px;
    float: left;
}

.manga-item .list-manga-item-info {
    float: right;
    width: 175px;
}

.manga-item .list-manga-item-info .list-manga-item-name {
    font-size: 14px;
    color: #17658c;
    font-weight: bold;
    margin-right: 5px;
}

.manga-item .list-manga-item-info .list-manga-item-cate a {
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
}
.manga-item .list-manga-item-info .list-manga-item-chap a {
    color: red;
}

.manga-item .list-manga-item-info .list-manga-item-view {
    font-size: 13px;
}

.list-manga-content .div-page {
    text-align: center;
}


/** end manga by category */
/** */
/** */
/** */

